<div style="height:200px;position: relative; margin-bottom:30px;">
  <img src="<%=image_path("mid.jpg")%>" alt="logo" style="position: absolute; bottom:0px; width:100%;"/>
  <div style="position: absolute; bottom:0px; right:450px;">
    <h4 style="font-weight:bolder ; font-style:oblique; color:white;">자연의 꿈, 그 뒤에 (주)미래그린이 있습니다.</h4>
  </div>
  <img src="<%=image_path("3.png")%>" alt="logo" style="position: absolute; bottom:30px; right:460px; width:320px;"/>
</div>
