<%= render partial: '/services/serviceBg'  %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="padding:0px;">
      <%= render partial: '/services/menu'  %>
    </div>
    <div class="col-md-10">
      <h4 class="product_title">Q & A</h4>
      <hr>


    </div>
  </div>
</div>
