<div class="row"  style="padding-left:40px;">
  <div class="my-margin col-lg-2 col-md-2" style="padding:0px;">
    <%= render partial: '/services/menu'  %>
  </div>
  <div class="col-lg-9 col-md-10">
    <h4 class="product_title">Q & A</h4>
    <hr>
    <div calss="row" style="border-top: 2px solid black; margin:20px; text-align:center;">
      <div class="col-md-12 qna_head" style="text-align:center;">
        <b>게시글 수정하기</b>
      </div>
      <form action="/services/qna_update_view/<%=@one_qna.id%>" method="POST">
        <input name ="utf8" type="hidden", value="✓">
        <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
        <div class="col-md-12" style="text-align:center; color: #767676;  padding: 20px 15px;">
          <span>비밀번호 : </span> <input type="password" name="pass">
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" style="float:right; font-weight:700; margin-right:10px;"  role="button" type="submit" >
            수정하러 가기
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="quick_box hidden-xs hidden-sm" style="float:right; width:48px; margin-right:10px;">
    <div class="quick"><%= render partial: '/home/quick'  %></div>
  </div>
</div>
