  <div class="row" style="padding-left:40px;">
    <div class="col-md-2 intro-production hidden-xs hidden-sm">
      <%= render partial: '/intro/menu'  %>
    </div>

    <div class="col-md-9 ">
      <h4 class="product_title"><span class="hidden-lg hidden-md">회사소개 - </span>인사말</h4>
      <hr>
      <div class="row">
        <div class="col-xs-5" style="padding:0px; padding-left:5px;">
          <h1 class="hidden-xs hidden-sm hidden-md" style="font-size:31px;color:#85DB18; font-weight:500; text-align:center;">자연을 가꾸고 지켜나가는</br>(주)미래그린입니다.</h1>
          <h3 class="hidden-lg" style="font-size:25px;color:#85DB18; font-weight:500; text-align:center;">자연을 가꾸고 지켜나가는</br>(주)미래그린입니다.</h3>
          <br><br>
          <p class="intro_p" >
            꽃씨 하나, 바람을 만나 세상을 환하게 아우성치게 하고 <br>숱한 기다림의 시간들,피고 지며 온갖 생명을 키워냅니다.<br>
            돌고 돌아 순환하고 재생하는 자연의 섭리를 보다 잘 알기에<br> (주)미래그린은 자연의 섭리에 따라 환경을 보호하고 <br>깨끗한 자연을 지켜가고 있습니다.<br>
            시간이 흘러도 변치 않는 가치, 자연의 소중함.<br> 그 큰 가르침을 (주)미래그린은 실천합니다.
          </p><br>
          <img class="intro_img" src="<%=image_path("info_logo.gif")%>" alt="logo"/>
          <br><br>
        </div>
        <div class="col-xs-7" style="padding:0px;">
          <img  src="<%=image_path("info.jpg")%>" alt="logo"style="width:calc(100% - 20px); margin-left:auto; padding-right:15px; "/>
        </div>
      </div>
      <br>
    </div>

    <div class="quick_box hidden-xs hidden-sm" style="float:right; width:48px; margin-right:10px;">
      <div class="quick"><%= render partial: '/home/quick'  %></div>
    </div>
  </div>
