<div class="row" style="padding-left:40px;">
  <div class="col-md-2 intro-production hidden-xs hidden-sm">
    <%= render partial: '/intro/menu'  %>
  </div>
  <div class="col-md-9 ">
    <h4 class="product_title"><span class="hidden-lg hidden-md">회사소개 - </span>특허증</h4>
    <hr>
    <div class="row">
    <p class="product_main_title"style="margin:20px !important; font-size:20px !important;">데크블록</p>
    <div class="col-xs-5">
      <img  src="<%=image_path("patent_1")%>" alt="logo"style="width:90%; margin-left:5%; "/>
    </div>
    <div class="col-xs-7">
      <img  src="<%=image_path("con_1_ex_4.png")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
    </div>
    </div>
  </div>
  <div class="quick_box hidden-xs hidden-sm" style="float:right; width:48px; margin-right:10px;">
    <div class="quick"><%= render partial: '/home/quick'  %></div>
  </div>
</div>
