<div style="width: 100%; padding-right:40px;">
  <div class="quick_title" style="height:30px;">
    <p style="font-size:18px;color:white; font-weight:bold; text-align:center; margin-bottom:5px; padding-top:4px;">Quick</p>
  </div>
  <div style="background-color:white;">
    <a href="/services/qna"><img src="<%=image_path("quick_qna.JPG")%>" alt="logo" style=" width:100%; padding-top: 10px; margin-bottom: 5px;"/></a>
    <img src="<%=image_path("quick_cs.JPG")%>" alt="logo" style=" width:100%; margin-bottom: 5px;"/>
    <a href="/intro/location"><img src="<%=image_path("quick_location.JPG")%>" alt="logo" style=" width:100%; margin-bottom: 5px;"/></a>

    <div class="quick_top" style="background-color:#a3a3a3; cursor:pointer; height:24px; border-radius:0px 0px 5px 5px;">
      <p style="color:white; font-weight:bold; text-align:center; margin-bottom:0px;"><span style="font-size:8px;">▲</span> top</p>
    </div>
  </div>
</div>
